*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5.h6,
p,
ul,
li {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1220px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

.start {
  background-image: url(../src/media/start-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.start__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 300px;
}

.start__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
  color: #000;
  text-align: center;
}

.start__input-name {
  background: none;
  border: 3px solid #000;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 50px;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  color: #000;
}

.start__input-name::placeholder {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 30px;
  line-height: 34px;
  font-weight: 700;
  color: #000;
}


.start__btn {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 400;
  width: 180px;
  height: 50px;
  cursor: pointer;
  background: #000;
  border: 1px solid #000;
  border-radius: 5px;
  outline: none;
  transition: 1s ease-in-out;
  color: #fff;
  margin-top: 30px;
}

.start__btn:hover {
  transition: 2s;
  background: #fff;
  border-color: #fff;
  color: #000;
}


.start__rules-inner {
  background-color: #000;
  text-align: center;
  padding: 30px 10px;
  position: relative;
  top: 100px;
}


.start__rules-title {
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  color: #fff;
}

.start__rules-text {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

.start__rules-btn {
  padding: 10px 30px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}

.start__rules-btn:hover {
  transition: all 3s;
  background-color: #fff;
  color: #000;
}

.developer {
  position: absolute;
  bottom: 0px;
}

.developer__text {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
}

.developer__link {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
}

.developer__link:hover {
  transition: all 2s;
  color: #000;
}

.studio {
  background-image: url(../src/media/bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.studio__result {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #fff;
  position: absolute;
  top: 20px;
  left: 20px;
}

.studio__monitor {
  width: 1000px;
  height: 385px;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 50px;
  right: 0;
  margin: auto;
}

.categories__inner {
  text-align: center;
  padding: 20px;
}

.categories__title {
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.categories__category {
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  margin: 20px auto;
  list-style: none;
  border: 2px solid transparent;
  border-radius: 5px;
  max-width: 50%;
  text-align: center;
  padding: 5px;
  color: #000;
  text-transform: uppercase;
}

.categories__category:hover {
  transition: all 1s;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.quiz {
  padding: 50px;
  position: relative;
}

.quiz__timer {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 200px;
  line-height: 100%;
  color: #fff;
  position: absolute;
  top: 600px;
  width: 100%;
  text-align: center;
  opacity: 0.9;
  letter-spacing: 10px;
}

.quiz__questions {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  text-align: center;
  color: #fff;
}

.quiz__answers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 30px;
  padding-inline-start: 0px;
}

.quiz__answer {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  border: 1px solid #3F00FF;
  border-radius: 5px;
  background-color: #3F00FF;
  padding: 15px;
  width: 400px;
  margin-top: 30px;
  color: #fff;
}

.winner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.winner__video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.winner__video-bg {
  width: 100%;
}

.winner__content {
  z-index: 10;
  text-align: center;
}

.winner__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
  color: gold;
  margin-bottom: 30px;
  font-style: italic;
}

.winner__result {
  font-size: 20px;
  line-height: 24px;
  color: gold;
  margin-top: 10px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.lost {
  background-image: url(../src/media/lost-bg.jpg);
  background-position: center;
  background-size: none;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  opacity: 0.8;
}

.lost__message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lost__message-result {
  font-family: 'Poppins', sans-serif;
  font-size: 46px;
  line-height: 50px;
  color: #fff;
  padding: 30px 0;
}

.lost__message-title {
  font-size: 42px;
  line-height: 46px;
  color: #fff;
  text-transform: uppercase;
}

.lost__message-help {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  max-width: 1000px;
  text-align: center;

}

.lost__message-link {
  margin-top: 20px;
  margin-bottom: 20px;
}

.lost__message-link,
.try-again {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  background-color: #fff;
  padding: 5px 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  color: #000;
}


.try-again:hover {
  transition: all 3s;
  background-color: gold;
}

.lost__message-link:hover {
  transition: all 3s;
  background-color: gold;
}

.time-over {
  position: absolute;
  top: 0;
  left: auto;
  background-color: #000;
  width: 1000px;
  height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time-over__title {
  font-size: 36px;
  line-height: 40px;
  color: #fff;
  margin-bottom: 20px;
}